body {
    background-color: #1c1c1c;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    padding: 24px;
}

.title {
    font-size: 48px;
    color: #00ff7f;
}

.list-item {
    margin-bottom: 24px;
    font-size: 24px;
}

input {
    height: 32px;
    background-color: transparent;
    color: white;
    border-color: #00ff7f;
    border-radius: 4px;
    font-size: 16px; 
    padding: 8px;
}

.add-task-button {
    font-size: 16px;
    padding: 17px;
    background-color: #ecf0f1;
    border-width: 0px;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
